#header {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 80px;
	font-style: normal;
	font-variant: small-caps;
	text-align: center;
	width:100%;
	color: white;
	background-color: #15260F;
}
#gameSelect {
	width: 100%;
	height: 100vh;
	
	padding: 50px 50px 50px 50px;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-variant: normal;
	
	text-align: center;
	border-style:solid;
	border-color: #15260F;
	background-image:url(../images/BackgroundBoard.jpg);
	background-size: cover;
}
button{
	background-color: #69686B;
}
#welcome {
	border-style:solid;
	border-color:white;
	border-width: 10px;
	padding: 50px 50px 50px 50px;
	background: rgba(0,0,0,0.6);
	width:75%;
	margin:auto;
}
.wtext{
	color: white;
}

#availableGames{
	
}
#gameLobby{
	width: 100%;
	border-style:solid;
	border-color: green;
}

#gameDashboard {
	width:100%;
	border-style:solid;	
}
#detectiveNotes{
	width: 100%;
	border-style:solid;
	border-color: green;
}
#cards{
	width: 100%;
	border-style:solid;
	border-color: green;
}
#turn{
	width: 100%;
	border-style:solid;
	border-color: green;
}

#messageBoard{
	width: 100%;
	border-style:solid;
	border-color: green;
	background-color :black;
	color : white;
}
#disrpoveSuggestion{
	width: 100%;
	border-style:solid;
	border-color: green;
}

#gameBoard{
	width: 100%;
	border-style:solid;
	border-color: green;
}