
#gameSelect {
	width: 100%;
	border-style:solid;
	border-color: green;
}

#gameLobby{
	width: 100%;
	border-style:solid;
	border-color: green;
}

#gameDashboard {
	width:100%;
	border-style:solid;	
}
#detectiveNotes{
	width: 100%;
	border-style:solid;
	border-color: green;
}
#cards{
	width: 100%;
	border-style:solid;
	border-color: green;
}
#optionsModal{
	width: 100%;
	border-style:solid;
	border-color: green;
}
#makeSuggestion{
	width: 100%;
	border-style:solid;
	border-color: green;
}